[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=GAuth
Exec=invoker --single-instance --type=e /opt/pygauth/bin/pygauth
Icon=/usr/share/icons/hicolor/80x80/apps/pygauth64.png
Categories=Utility;
